@import "theme";

*{
  box-sizing: border-box;
}
body{
  max-width: 100vw;
  overflow-x: hidden;
}

.transition {
	transition-duration: 0.6s;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.imgBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_wrap, textWrap , tw{
  display: inline-block;
}


.product-child{
  .container ,section:not(.product-child_mv){
    width: 94%;
    margin: 0 auto;
    max-width: 1600px;
  }

  section:not(.product-child_mv){
    margin-top: clamp(24px ,5.4vw , 64px);
    h3{
      font-size: min(2vw , 28px);
      text-align: center;
      margin-bottom: 1em;
      font-weight: 700;
      line-height: 1.8;
      letter-spacing: 0.1em;
    }
  }
}

.product-child_mv{
  padding: max(2.4vw , 40px) 0 1.3vw;
  background-color: #D9D9D9;
  .container{
    display: grid;
    grid-template-columns:62%  1fr;
    grid-template-rows: repeat(2 , auto);
    column-gap: 3vw;
  }
  .title_content{
    font-size: min(3.2vw , 38px);
    p{
      font-weight: 700;
      font-size: 0.625em;
    }
    h1{
      font-weight: 700;
      line-height: 1.2;
      margin: 0.3em 0;
    }
  }

  .description_content{
    font-size: min(1.5vw ,22px);

    h2{
      font-weight: 500;
      font-size: 1em;
      line-height: 1.5;
      margin-bottom: 0.5em;
    }
    p{
      font-weight: 500;
      font-size: 0.8em;
      line-height: 1.7;
    }
  }//description_content

  .img_content{
    grid-area: 1/2/3/3;
    text-align: center;
    img{
      width: auto;
      max-width: 300px;
    }
  }

  // 縦表示
  &.display_column{
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .title_content{
      text-align: center;
      margin-bottom: 1em;
    }

    .description_content{
      order: 3;
      font-size: min(2.4vw ,32px);
      margin-bottom: 2em;
      h3{
        text-align: center;
        margin: 1.8em auto 1em;
      }
      p{
        font-size: 0.625em;
      }
    }

    .img_content{
      text-align: center;
      width: 90%;
      img{
        max-width: initial;
      }
    }
  }//&.display_column
}//product-child_mv



.product-child_pageNav{
  margin-top: 30px;
  .container{
    text-align: center;
  }
  ul{
    font-size: min(1.4vw, 22px);
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    border-radius: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 0 1em;
    li{
      padding: 0.5em 0;
     flex: auto;
      a{
        padding:0.5em  1em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        border-right: 1px solid #000;
        &::after{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
          content: '';
          width: 0;
          height: 0;
          border-left: 0.5em solid transparent;
          border-right: 0.5em solid transparent;
          border-top: 0.5em solid black;
        }
      }
      &:last-child{
        a{
          border-right: none;
        }
      }
    }//li
  }
}
//product-child_pageNav


.characteristics{
   width: 100% !important;
   max-width: initial !important;
  .youtube_content_innerBox{
      width: 94%;
      max-width: 1600px;
      margin: 0 auto;
      background-color: #D9D9D9;
      padding: max(3.2vw , 32px) 0;
    }
    a{
      width: 56.4%;
      margin: 0 auto;
      position: relative;
      svg{
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 40%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 15%;
        margin: 0 auto;
        min-width: 100px;
        fill:red;
      }
      &::after{
        content: '';
        width: 70px;
        height: 70px;
        position: absolute;
       
        top: 45%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #fff;
      }
    }
    .characteristics_popup{
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 999;
      overflow-y: scroll;
      background-color: rgba(0, 0, 0, 0.753);
    }
  
}//characteristics

.characteristics_content{
  margin-top: 24px;
  .tile_wrapper{
    max-width: 1700px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    li{
      width: 30%;
      background-color: #e9e9e9;
      border-radius: 12px;
      padding: 2%;
      cursor: pointer;
      transition: 0.5s;
      &:hover{
        transform: scale(1.05);
      }
    } 
  }

  .excerpt_content{
    font-size: clamp(15px , 15vw , 24px);
    letter-spacing: 0.1em;
    font-weight: 500;
    h4{
      font-size: 1em;
      line-height: 1.4;
      margin-left: 0.8em;
      margin-bottom: 0.8em;
      &::before{
        content: '●';
        margin-left: -1em;
      }
    }
    img{
      text-align: center;
    }

    p{
      font-size: 0.8em;
      font-weight: 400;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
      line-height: 1.5;
    }

    &.image_is_upper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      img{
        order: 3;
      }
    }
  } 
  //excerpt_content
  .detail_content{
    display: none;
  }
 

}

.one-column_detail{
  margin-bottom: 20px;
}
.characteristics_popup ,.detail_content , .one-column_detail{
 
  font-size: clamp(20px , 2.4vw , 30px);
 
  

  .popup_innreBox{
    width: 85vw;
    margin:  3vh auto;
    background-color: #e9e9e9;
    border-radius: 16px;
    padding: 5%;
    position: relative;
    .closeBtn{
      position: absolute;
      top: 5vh;
      right: 3%;
      width: 50px;
      z-index: 100;
      svg{
        cursor:pointer;
        width: 50px;
      }
    }
  }
 h1, h2, h3, h4, h5, h6, strong{
   font-weight: 700;
 }

 h1{
   margin-top: 0.67em;
   margin-bottom: 0.67em;
 }
 
 h2{
   margin-top: 0.83em;
   margin-bottom: 0.83em;
 }

 h4{
  font-size: 1em;
 }

 h3 , h4 , h5 , h6{
   margin-top: 0.5em;
   margin-bottom: 0.5em;
 }

 >div >div {
  font-size: 0.8em;
  line-height: 1.6;
  letter-spacing: 0.1em;
  padding: 1% 2%;
}

p ,table{
   margin: 1em 0;
   font-size: 0.8em;
   line-height: 1.6;
   letter-spacing: 0.1em;
 }

 a{
   text-decoration: underline;
   color: blue;
 }


 img{
   width: auto;
   max-width: 100%;
 }

 
 ol{
   list-style: auto;
 }
 
 ul{
   list-style:disc;
 }
 ol, ul{
   list-style-position: outside;
   padding: 1em 0;
   padding-left: 1.3em;
  li{
    line-height: 1.6;
    letter-spacing: 0.1em;
  }
 }

 li{
   line-height: 1.5em;
   margin-bottom: 0.5em;
 }

 tr{
  td{
    &:first-child{
      padding-right: 2%;
    }
    &:last-child{
      padding-left: 2%;
    }
  }
 }

 td{
 }


 
}
.tablepress tfoot th,
.tablepress thead th {
  background-color: transparent;
}

.tablepress{
  margin: 1em 0;
  caption{
    display: none;
  }
}
.tablepress{
  td, th{
   background-color: transparent ;
   border: 1px solid !important;
  }
}

.tablepress .odd td{
  background-color: transparent ;
  border: 1px solid !important;

}



section.case-study{
  .purpose_list{
    display: grid;
    grid-template-columns: repeat(3,calc((100% - 6%) / 3));
    gap: 3%;
    li{
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .5s;
        &:hover{
          opacity: .6;
        }
      }
      p{
        font-weight: 500;
        font-size: clamp(18px , 1.8vw , 24px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
      }
    }
  }

  
  
}


section.specifications{
  .specifications_detail_content{
    font-size: clamp(16px , 1.8vw , 24px);
    font-weight: 400;
    .tablepress thead th {
      background-color: #545454;
      color: #fff;
      text-align: center;
    }
    td{
      padding: 0.5%;
    }
    >p, >ul {
      font-size: 0.8em;
      font-weight: 400;
    }
  }

}


section#contact_section{
  h3{
    color: #fff;
  }
  padding: 50px 0;
  width: 100vw;
  max-width: initial;
  margin-left:calc(50% - 50vw) ;
  margin-right:calc(50% - 50vw) ;
  background-color: #545454;
}

.product_options{
  font-size: clamp(15px , 1.5vw ,22px);

  .tabBody:not(.tabBody1){
    display: none;
  }
  .purpose_list{
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(4,calc((100% - 8%) / 4));
    gap:5% 2% ;
    li{
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        transition: .5s;
        &:hover{
          opacity: .6;
        }

        p{
          font-size: 0.8em;
          line-height: 1.8;
          text-align: left;
          background-color:#545454;
          color: #fff;
          width: 100%;
          padding: 0 0.4em;
        }
      }
    
    }
  }

    
  
}


 /* --- タブ（ラジオボタン）のエリア ------------------------ */
 #tabArea{
  line-height    : 1;                   /* 1行の高さ          */
  letter-spacing : 0;                   /* 文字間             */
  text-align     : center;              /* 文字位置は中央     */
}
 
 /* --- ラジオボタン ---------------------------------------- */
#tabArea input[type="radio"] {
  display        : none;                /* ラジオボタン非表示 */
}
 
 /* --- ラジオボタン直後のlabel ----------------------------- */
#tabArea input[type="radio"] + label {
  display        : inline-block;
  position       : relative;
  padding        : 6px 1em;            /* labelの余白 */
  font-size      : 1em;                /* タブの文字サイズ   */
  font-weight    : bold;                /* タブは太文字       */
  border         : 3px solid #999;      /* 未選択タブのの枠線 */
  border-bottom  : none;                /* 下罫線は消す       */
  border-radius  : 5px 5px 0 0;         /* タブの上左右角丸   */
  margin         : 0 1em;               /* タブ間隔           */
  background     : #fff;                /* 未選択タブの背景色 */
  color          : #666;                /* 未選択タブの文字色 */
}
 
 /* --- 選択されたラジオボタン直後のlabel ------------------- */
#tabArea input[type="radio"]:checked + label {
  border-color   : #666;             /* 選択タブの枠線     */
  color          : #666;             /* 選択タブの文字色   */
  cursor         : default;             /* デフォルトカーソル */
  z-index        : 2;                   /* 重なりを最前面へ   */
}
 
 /* --- 未選択ラジオボタン直後のlabelにマウスが乗った ------- */
#tabArea input[type="radio"]:not(:checked) + label:hover {
  background     : #b4cee2;             /* カーソルタブの背景 */
  cursor         : pointer;             /* リンクカーソル     */
}
 
 /* --- タブ下の本体エリア ---------------------------------- */
.tabBody{
  position       : relative;
  border         : 3px solid #666;   /* 本体の枠線         */
  background     : #fff;                /* 本体の背景色       */
  margin-top     : -3px;                /* タブと罫線分重ねる */
  z-index        : 1;
               /* 未選択タブより全面 */
}


section.this_product_catalog{
  width: 100%;
  max-width: initial;
  background-color: #F2F2F2;
  padding: 24px 0;
  .purpose_list{
    width: 60%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3 , 30%);
    gap: 3%;
    li{
      text-align: center;
      font-size: clamp(15px , 15vw , 24px);
      cursor: pointer;
      a{
        img{
          width: 80%;
          margin: 0 auto;
        }
      }

      p{
        line-height:1.7;
        font-weight: 500;
      }

      .more{
        background-color: #545454;
        border-radius: 24px;
        line-height: 1.5;
        color: #fff;
        font-size: 0.9em;
        font-weight: 400;
      }
    }
  }
  .this_product_catalog_innerBox{
    display: none;
    &.list_num1{
      display: inline;
    }
  }

  .contentBox{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: max(5vw,50px);
    >div{
      width: 50%;
      margin: 0 5vw;
      &:first-child{
        display: none;
      }
      h3{
        background-color: #D9D9D9;
        padding:0.3em 1em;
        margin-bottom: 0;
        font-weight: 400;
        font-size: clamp(17px , 1.7vw ,24px);
        cursor: pointer;
      }
    }
  }
}//this_product_catalog



.related_products{
  .purpose_list{
    display: grid;
    grid-template-columns: repeat(4 ,calc((100% - 6%) / 4));
    gap:5% 2%;
    font-size: clamp(13px , 1.3vw , 20px);
    h4{
      font-weight: 500;
      font-size: 1.3em;
      margin: 0.4em 0;
    }
    p{
      line-height: 1.3;
      font-weight: 400;
    }
    .more{
      background-color: #545454;
      border-radius: 24px;
      margin-top: 1em;
      padding: 0.2em 1em;
      text-align: center;
      color: #fff;
    }
    
  }
}//.related_products